<!DOCTYPE html>
<html>
  <head>
    <title> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><SIT 722</h1>
    <p>SIT 722 DevOps Glossary </p>
    <table width="100%" border="1">
      <tr>
        <td>ID</td>
        <td>Term</td>
        <td>Description</td>
        <td>References</td>

      </tr>
      <tr>
        <td>1</td>
        <td>DevOps</td>
        <td>DevOps is a combination of software development (dev) and operations (ops). It is defined as a software engineering methodology which aims to integrate the work of development teams and operations teams by facilitating a culture of collaboration and shared responsibility.</td>
        <td>about.gitlab.com. (n.d.). What is DevOps? [online] Available at: https://about.gitlab.com/topics/devops/#:~:text=DevOps%20is%20a%20combination%20of [Accessed 24 Jul. 2023].
          ‌</td>
        
      </tr>
      <tr>
        <td>2</td>
        <td>Keyboard</td>
        <td>A keyboard is a peripheral device that enables a user to input text into a computer or any other electronic machinery. A keyboard is an input device and is the most basic way for the user to communicate with a computer.</td>
        <td>Techopedia.com. (2019). What is a Keyboard? - Definition from Techopedia. [online] Available at: https://www.techopedia.com/definition/2584/keyboard.
        ‌</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Deployment</td>
        <td>
          Software deployment includes all of the steps, processes, and activities that are required to make a software system or update available to its intended users. Today, most IT organizations and software developers deploy software updates, patches and new applications with a combination of manual and automated processes.</td>
        <td>Sumo Logic (n.d.). What is Software Deployment? | Sumo Logic. [online] Sumo Logic. Available at: https://www.sumologic.com/glossary/software-deployment/.
          <‌/td>

      </tr>
      <tr>
        <td>4</td>
        <td>Developer</td>
        <td>a person or company that creates new products, especially computer products such as software:</td>
        <td>Cambridge Dictionary (2022). developer. [online] @CambridgeWords. Available at: https://dictionary.cambridge.org/dictionary/english/developer.
          ‌</td>

      </tr>
      <tr>
        <td>5</td>
        <td>Quality Assurance</td>
        <td>systematic process of determining whether a product or service meets specified requirements.</td>
        <td>SearchSoftwareQuality. (n.d.). What is Quality Assurance? - Definition from WhatIs.com. [online] Available at: https://www.techtarget.com/searchsoftwarequality/definition/quality-assurance#:~:text=Quality%20assurance%20(QA)%20is%20any.
          ‌</td>

      </tr>
      <tr>
        <td>6</td>
        <td>Operations</td>
        <td>Operations is the work of managing the inner workings of your business so it runs as efficiently as possible. </td>
        <td>Kiisel, T. (2015). What is Operations? And Why Does My Business Need It? [online] OnDeck. Available at: https://www.ondeck.com/resources/what-is-operations.
          ‌</td>

      </tr>
      <tr>
        <td>7</td>
        <td>Agile Methodology</td>
        <td>The Agile methodology is a project management approach that involves breaking the project into phases and emphasizes continuous collaboration and improvement. Teams follow a cycle of planning, executing, and evaluating.</td>
        <td>Atlassian (n.d.). What is Agile? [online] Atlassian. Available at: https://www.atlassian.com/agile#:~:text=What%20is%20the%20Agile%20methodology.
          ‌</td>

      </tr>
      <tr>
        <td>8</td>
        <td>Software</td>
        <td>Software is a set of instructions, data or programs used to operate computers and execute specific tasks. It is the opposite of hardware, which describes the physical aspects of a computer. Software is a generic term used to refer to applications, scripts and programs that run on a device. </td>
        <td>Rosencrance, L. (2021). What is Software? Definition, Types and Examples. [online] TechTarget. Available at: https://www.techtarget.com/searchapparchitecture/definition/software.
          ‌</td>

      </tr>
      <tr>
        <td>9</td>
        <td>Wall of confusion</td>
        <td>It refers to the phenomena where one group in a value stream approaches their job as complete when they’ve passed it onto the next group.</td>
        <td>Kawaguchi, S. (2022). The Wall of Confusion. [online] Medium. Available at: https://levelup.gitconnected.com/the-wall-of-confusion-623057a4dd26.
          ‌</td>

      </tr>
      <tr>
        <td>10</td>
        <td>Cloud</td>
        <td>The definition for the cloud can seem murky, but essentially, it’s a term used to describe a global network of servers, each with a unique function. The cloud is not a physical entity, but instead is a vast network of remote servers around the globe which are hooked together and meant to operate as a single ecosystem.</td>
        <td>azure.microsoft.com. (n.d.). What is the Cloud - Definition | Microsoft Azure. [online] Available at: https://azure.microsoft.com/en-au/resources/cloud-computing-dictionary/what-is-the-cloud [Accessed 24 Jul. 2023].
          ‌</td>

      </tr>
        
    </table>
  </body>
</html>
